body {
   margin: 0;
   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.content {
   padding: 5rem;
   display: flex;
   min-height: 100vh;
   text-align: center;
   flex-direction: column;
}

.content h1 {
   font-size: 3.6rem;
   font-weight: 700;
   margin: 16;
}

.content p {
   font-size: 1.2rem;
   font-weight: 400;
}

.content nav {
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}

.content nav a {
   text-decoration: none;
   color: #0070f3;
   font-weight: 500;
   font-size: large;
}

.content nav a:hover {
   text-decoration: underline;
}
.content nav a.active {
   text-decoration: underline;
}

button {
   background-color: #0070f3;
   color: white;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 4px;
   font-size: 1rem;
   letter-spacing: 0.05em;
   cursor: pointer;
}
